body {font-family: Vollkorn; font-size: 120%; line-height: 130%; color: #242729; }
h1 { font-size: 2.2em; line-height:100%; margin-top: 0.3em; font-style: italic; margin-bottom: 0.3em; color: #446B73; font-weight: 400;}
p, pre, blockquote, table, ul, ol, dl {margin-top: .5em; margin-bottom: .5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0 auto;}
ul {margin: 0; padding: 0;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #E1E2E3;}
#content { margin: 0 auto; padding: 0 20px; width: 795px; position: relative;}
a {
  color: #9A6CC4;
  text-decoration: none;
}
a:visited {
  color: #9A6CC4;
}
a:hover {
  color: #D2B4ED;
}
table {
  border: 2px solid grey;
  width: 100%;
}
.error {
  color: #E33307;
}
.success {
  color: #08A337;
}
.stats {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
#menu li, #combos li{
  margin: 16px 0px;
  list-style-type: none;
}
#menu-list, #combos-list {
  height: 440px;
  overflow: scroll;
  position: relative;
}
#combos-list :first-child, #menu-list :first-child{
  margin-top: 0px;
}
#menu {
  width: 350px;
}
#combos {
  width: 400px;
}
#combos .item-cell {
  width: 50%;
}
#combos .quantity-cell {
  width: 20%;
  text-align: center;
}
#combos .price-cell {
  width: 30%;
  text-align: center;
}
#menu .item-cell {
  width: 60%;
}
#menu .price-cell {
  width: 40%;
  text-align: center;
}
#menu .quantity-cell {
  display: none;
}
#upload_input {
  display: none;
}
#upload_form {
  display: inline-block;
}
#upload_messages {
  margin-left: 40px;
  display: inline-block;
}
#upload_button {
  color: #AB472E;
  font-family: arial;
  background-color: transparent;
  border: 3px solid #AB472E;
  padding: 5px 30px;
}
#upload_button:hover {
  color: #DB9E8F;
  border-color: #DB9E8F;
}
#form-and-messages {
  position: relative;
}
