<% if @combos %>
  <div id = "combos" class = "float-right">
    <div class = "stats">
      <p><%= combo_count %> | <%= time_to_solve %> seconds</p>
    </div>
    <%= partial(:"partials/table_headers") %>
    <%= partial(:"partials/combos_list", locals: {combos: combos}) %>
  </div>
<% end %>