<div id="upload_messages">
  <% if @error %>
    <p class = "error">Upload failed: <%= @error %></p>
  <% elsif !@error && @filename %>
    <p class = "success">File successfully uploaded: <%= @filename %></p>
  <% end %>
</div>