<div id = "explanation">
  <p>Ever been at a restaurant and wanted to know every combination of dish you could order that would total up to exactly the amount of money in your pocket? Now, you can. Upload the menu and target price in a .csv or .txt file with <a href = "https://tablexi-prod.s3.amazonaws.com/comfy/cms/files/files/000/000/007/original/menu.txt" target="_blank">this format</a> and let the good times roll.</p>
</div>

<div id = "form-and-messages">
  <%= partial(:"partials/upload_form") %>
  <%= partial(:"partials/upload_message", locals: {error: @error, filename: @filename}) %>
</div>

<div id = "tables">
  <%= partial(:"partials/menu_column", locals: {menu_data: @menu_data}) %>
  <%= partial(:"partials/combo_column", locals: {combos: @combos, time_to_solve: @time_to_solve}) %>
</div>
