<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  <link rel="icon" href="favicon.ico" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Menu Combinator</title>
</head>
<body>
<div id="content">
  <header>
    <h1>Welcome to the Menu Combinator!</h1>
  </header>
  <%= yield %>
</div>
</body>
</html>
